@import "tailwindcss";


@theme {
  --color-bg: #F7FAF9; 
  --color-textSecondary: #4B5B5A;
  --color-textPrimary: #0F1F1E;
  --color-border: #808080;
  --color-surface: #FFFFFF;
  --color-primary: #1F6F6B;
  --color-modal: #DFE6E4;



  --radius-btn: 12px;

  --radius-card: 12px;
  --radius-row: 12px;

}


@layer components {
  .btn-primary {
    @apply cursor-pointer rounded-btn bg-primary text-white border border-border
      px-6 py-4 text-2xl font-normal
      transition-colors duration-150
      hover:opacity-90 active:opacity-90
      focus:outline-none focus:ring-2 focus:ring-primary/30;
  }
  .btn-secondary {
    @apply inline-flex items-center justify-center
      rounded-full border border-border
      bg-surface px-5 py-2
      text-textPrimary cursor-pointer
      transition-colors
      hover:bg-primary hover:text-white hover:border-primary
      focus:outline-none focus:ring-2 focus:ring-primary/30;
  } 
  .btn-secondary-active {
    @apply 
      inline-flex items-center justify-center
      rounded-full border border-primary
      bg-primary px-5 py-2
      text-white cursor-pointer
      transition-colors
      hover:bg-primary/90 hover:text-white hover:border-primary
      focus:outline-none focus:ring-2 focus:ring-primary/30;
      }
  .btn-primary-sm {
    @apply cursor-pointer rounded-btn bg-primary text-white border border-border
      px-5 py-3 text-lg font-normal
      transition-colors duration-150
      hover:opacity-90 active:opacity-90
      focus:outline-none focus:ring-2 focus:ring-primary/30;
  }
}


